h1 {
      font-family: Helvetica;
      font-size: 100px;
      font-weight: bold;
      color: khaki;
      text-align: center;
      background-image:url("img.png");
    }
  
#brush {
    
    background-color: mediumspringgreen;
    font-size: 32px;
    font-weight: bold;
    color: white;
    
    }
    h2,h3,p {
        font-family: Helvetica;
    }
#frame {
        background-color:  coral;
        font-size: 32px;
        font-weight: bold;
        color: white;
    }
    #paint {
        background-color: skyblue;
        font-size: 32px;
        font-weight: bold;
        color: white;
    }
    h3{
      color: black;  
      font-family: Helvetica;
    }
    strong {
        font-family: Helvetica;
        font-weight: bold;
        color: blue;
    }